.color-box {
  display: block;
  height: 160px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  &:focus {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    transform: scale(1.1);
  }
  .count {
    font-size: 50px;
  }
  .desc {
    i {
      margin-right: 5px;
    }
  }
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.brown {
  background: brown;
}