/*
* @Author: Rosen
* @Date:   2018-02-01 16:27:52
* @Last Modified by:   Rosen
* @Last Modified time: 2018-02-01 16:29:25
*/
.page-title {
  position: relative;
}
.page-header-right{
  position: absolute;
  right: 15px;
  top: 12px;
}

@import '../../scss/var.scss';
.ant-layout-header {
  .logo {
    width: 200px;
    height: 200px;
    float: left;
  }
}
